.navbar {
  position: fixed;
  top: 0;
  width: 95%;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Estilos para el toggle de tema */
.theme-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 20px;
}

/* Reglas específicas para el toggle en móviles */
.mobile-toggle {
  position: fixed;
  left: 20px;
  top: 15px;
  z-index: 1100; /* Asegúrate de que esté por encima del botón hamburguesa */
}

/* Ejemplo para el menú normal */
.nav-list {
  display: flex;
  list-style: none;
  gap: 25px;
  margin-right: 4rem;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: var(--text-color); /* Usar variable para texto */
  position: relative;
  transition: color 0.3s;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

/* Contenedor del switch */
.switch-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Ocultar el checkbox por defecto */
.switch-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilos del label que actúa como slider */
.switch-container label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Círculo dentro del switch */
.switch-container label:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Estado activo (checkbox checked) */
.switch-container input:checked + label {
  background-color: #ff6600;
}

/* Mover el círculo cuando está seleccionado */
.switch-container input:checked + label:before {
  transform: translateX(26px);
}

/* Estilos del menú de react-burger-menu */
.bm-menu-wrap {
  top: 0;
}

.bm-menu {
  background: var(--bg-color);
  padding: 2rem;
  font-size: 1.2rem;
}

.bm-item {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 15px;
  transition: color 0.3s;
}

.bm-item:hover {
  color: var(--primary-color);
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 15px;
}

.bm-burger-bars {
  background: var(--text-color);
}

.bm-cross {
  background: var(--text-color);
}

/* Ocultar menú normal en móviles */
@media (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .mobile-switch {
    position: fixed;
    left: 20px;
    top: 15px;
    z-index: 1100;
  }
}
